* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* container */
.container {
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

:root {
  --main-color: #279FBB;
  --word-color: rgb(86, 94, 98);
  --footer-color: #C9C9C9;
  --font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

/* top_nav */
.top_nav {
  height: 2rem;
  background-color: #FBFBFB;
  border-bottom: solid 1px rgba(210, 209, 209, 0.36);
}

.top_nav .container {
  display: flex;
  justify-content: space-between;
}

.top_nav_left, .top_nav_right {
  display: flex;
  align-items: center;
}

.call_us, .mail_us {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
}

.top_nav .top_nav_left span {
  padding-left: 10px;
}

.top_nav .top_nav_left i {
  font-size: 1rem;
}

.mail_us {
  padding-left: 30px;
}

.facebook, .google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35.5px;
}

.top_nav .top_nav_right a {
  padding: 0 10px;
  color: #969696;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.facebook a:hover {
  background-color: rgb(21, 88, 214);
  color: white;
}

.google a:hover {
  background-color: rgb(215, 77, 0);
  color: white;
}

/* header */
.header {
  height: 5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  align-items: center;
}

.main_logo {
  height: 4rem;
}

.header .navbar {
  text-transform: capitalize;
  padding: 0;
}

.header .navbar .innavbar {
  margin: 0;
}

.header .navbar a {
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  transition: color 0.2s;
}

.header .navbar a .en {
  color: #bcbcbc;
  font-family: var(--font-family);
}

.header .navbar a:hover:not(.activepage) {
  text-decoration: none;
  color: var(--main-color);
}

.header .navbar span {
  padding: 3px 5px;
  border-radius: 10px;
}

.header .navbar span.activepage {
  background-color: var(--main-color);
  color: white;
}

.header #rwdbtn {
  visibility: hidden;
}

.header .open_btn {
  font-size: 20px;
  margin: 0;
  color: black;
  display: none;
}

.open_btn:hover {
  color: var(--main-color);
  transition: 0.4s;
  cursor: pointer;
}

.header .close_btn {
  font-size: 20px;
  margin: 0;
  display: none;
}

/* subnav */
.subnav {
  float: left;
}

.subnav .subnavbtn {
  border: none;
  background-color: inherit;
  border-radius: 4px;
}

.subnav .subnav-content {
  display: none;
  position: absolute;
  top: 65px;
  background-color: white;
  z-index: 1;
  width: fit-content;
  text-align: left;
  transition: 0.2s;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.subnav .subnav-content a {
  padding: 10px;
  margin: 0;
  text-align: left;
  color: var(--word-color);
}

.subnav .subnav-content a:hover {
  background-color: #eee;
  border-radius: 4px;
}

.subnav:hover .subnav-content {
  display: flex;
  flex-direction: column;
}

/* pictures */
.slideshow .picture {
  position: relative;
  font-family: var(--font-family);
}

.mySlides img {
  width: 100%;
  height: auto;
  /* height: 400px; */
  object-fit: cover;
}

.mySlides .text {
  color: black;
  font-size: 1rem;
  padding: 0.5vmin;
  position: absolute;
  bottom: 0;
  background-color: rgba(208, 208, 208, 0.64);
  text-align: center;
  width: 100%;
}

.mySlides .numbertext {
  color: white;
  padding: 1vmin;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* fade */
.fade_a {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  font-size: 3rem;
  text-align: center;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
}

.next {
  right: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
}

.prev:hover {
  background-image: linear-gradient(to left, rgba(0, 0, 0, .0005) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.next:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0005) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.slideshow .dot_group {
  text-align: center;
  padding: 1vmin;
}

.dot {
  cursor: pointer;
  height: 1.9vmin;
  width: 1.9vmin;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* topic */
/* content */
.contentbox {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  color: var(--word-color);
}

.contentbox .title {
  padding: 10px;
  margin-top: 15px;
  font-weight: bold;
}

.contentbox p {
  width: 80%;
  margin: auto;
  text-align: justify;
  text-indent: 2rem;
}

.contentbox .but {
  padding-top: 2.5vmin;
  text-align: center;
}

.contentbox .but button {
  background-color: var(--main-color);
  padding: 1.3vmin;
  border-radius: 5px;
  border: none;
  border-style: hidden;
  color: white;
  transition-duration: 0.2s;
}

.contentbox .but button:hover {
  background-color: #2d7687;
  color: white;
  box-shadow: 0 0 10px 0 rgb(94, 94, 94);
}

/* status */
.status .flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.status .page {
  background-color: rgb(218, 240, 217);
  box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  height: 100%
}

.page_col {
  margin: 1.8vmin auto;
  padding: 7px;
}

.status .flex_box h5 {
  background-color: rgb(14, 87, 12);
  color: white;
  padding: 10px;
}

.status_pic {
  height: 20vmin;
  object-fit: cover;
}

.status .page .point {
  margin: 10px 0;
  flex-grow: 1;
}

.status .page p {
  text-align: left;
  text-indent: 0;
}

.status .but {
  padding: 20px;
}

/* footer */
.footer {
  background-color: #383838;
  padding: 20px;
  color: var(--footer-color);
  font-size: 0.8rem;
  line-height: 30px;
  text-align: left;
}

.footercontent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_right a {
  display: flex;
  flex-direction: column;
  color: var(--footer-color);
  border-bottom: dotted var(--footer-color) 1px;
  width: 100%;
}

.footer_right a:hover {
  text-decoration: none;
  color: white;
}

.footer_mid a {
  color: var(--footer-color);
}

.footer_mid a:hover {
  text-decoration: none;
  color: white;
}

.footer_mid p {
  padding-left: 20px;
  margin-bottom: 5px;
}

.lastfooter {
  background-color: #333;
  text-align: center;
  color: rgb(102, 102, 102);
  padding: 10px;
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .footer_right {
    display: none;
  }

  .header .open_btn {
    display: block;
  }

  .header .close_btn {
    display: block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.4s;
  }

  .header .close_btn:hover {
    color: var(--main-color);
  }

  .header .navbar .innavbar {
    background-color: rgba(66, 70, 75, 0.95);
    height: 100vh;
    width: 100%;
    font-size: 0.9em;
    padding: 20% 0;
    position: fixed;
    top: 0;
    right: -100%;
    overflow: auto;
  }

  .header .navbar a {
    margin: 0;
    color: rgb(255, 255, 255);
  }

  .header .navbar .navigation {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .header .navbar a:hover:not(.activepage) {
    text-decoration: none;
    color: var(--main-color);
  }

  .header .navbar span.activepage {
    background-color: var(--main-color);
    padding: 3px 5px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
  }

  #rwdbtn:checked~.innavbar {
    right: 0;
  }

  .subnav {
    float: left;
  }

  .subnav .subnavbtn {
    border: none;
    background-color: inherit;
    border-radius: 4px;
    padding-top: 7px;
  }

  .subnav .subnav-content {
    display: none;
    position: static;
    background-color: white;
    z-index: 1;
    width: 100%;
    text-align: left;
    border-radius: 4px;
  }

  .subnav .subnav-content a {
    color: var(--word-color);
  }
}

@media screen and (max-width: 800px) {
  .footer_mid, .footer_right, .facebook, .google {
    display: none;
  }

  .footer_left {
    margin: auto;
  }

  .status_pic {
    height: 25vmax;
    object-fit: cover;
  }

  html, body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .topic .title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .top_nav .container {
    font-size: 8px;
  }

  .mail_us {
    padding-left: 10px;
  }
}
