* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* container */
.container {
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  --word-color: rgb(86, 94, 98);
  --main-color: #295651;
  --hover-color: #072a24;
  --second-color: #0b4609;
  --footer-color: #C9C9C9;
  --text-bg-color: rgba(123, 185, 157, 0.2);
  --member-color: rgba(0, 0, 0, 0.06);
  --colorful-background: #e1eee0;
}

/* top_nav */
.top_nav {
  height: 2rem;
  background-color: #FBFBFB;
  border-bottom: solid 1px rgba(210, 209, 209, 0.36);
}

.top_nav .container {
  display: flex;
  justify-content: space-between;
}

.top_nav_left, .top_nav_right {
  display: flex;
  align-items: center;
}

.call_us, .mail_us {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
}

.top_nav .top_nav_left span {
  padding-left: 10px;
}

.top_nav .top_nav_left i {
  font-size: 1rem;
}

.mail_us {
  padding-left: 30px;
}

.facebook, .google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35.5px;
}

.top_nav .top_nav_right a {
  padding: 0 10px;
  color: #969696;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.facebook a:hover {
  background-color: rgb(21, 88, 214);
  color: white;
}

.google a:hover {
  background-color: rgb(215, 77, 0);
  color: white;
}

/* header */
.header {
  height: 5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1;
}

:target:before {
  content: "";
  display: block;
  height: 5rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  align-items: center;
}

.logo_pic {
  height: 4rem;
}

.header .navbar {
  text-transform: capitalize;
  padding: 0;
}

.header .navbar .navigation_bar {
  margin: 0;
}

.header .navbar a {
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  transition: color 0.2s;
}

.header .navbar a .en {
  color: #bcbcbc;
  font-family: var(--font-family);
}

.header .navbar a:hover:not(.active_page) {
  text-decoration: none;
  color: var(--main-color);
}

.header .navbar span {
  padding: 3px 5px;
  border-radius: 10px;
}

.header .navbar span.active_page {
  background-color: var(--main-color);
  color: white;
}

.header #rwdbtn {
  visibility: hidden;
}

.header .navbar_open_btn {
  font-size: 20px;
  margin: 0;
  color: black;
  display: none;
}

.navbar_open_btn:hover {
  color: var(--main-color);
  transition: 0.4s;
  cursor: pointer;
}

.header .navbar_close_btn {
  font-size: 20px;
  margin: 0;
  display: none;
}

/* subnav */
.subnav {
  float: left;
}

.subnav .subnav_btn {
  border: none;
  background-color: inherit;
  border-radius: 4px;
}

.subnav .subnav_content {
  display: none;
  position: absolute;
  top: 65px;
  background-color: white;
  z-index: 1;
  width: fit-content;
  text-align: left;
  transition: 0.2s;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.subnav .subnav_content a {
  padding: 10px;
  margin: 0;
  text-align: left;
  color: var(--word-color);
}

.subnav .subnav_content a:hover {
  background-color: #eee;
  border-radius: 4px;
}

.subnav:hover .subnav_content {
  display: flex;
  flex-direction: column;
}

/* content */
.contentbox {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  color: var(--word-color);
}

.contentbox .contentbox_title {
  padding: 10px;
  margin-top: 15px;
  font-weight: bold;
}

.contentbox p {
  width: 80%;
  margin: auto;
  text-align: justify;
  text-indent: 2rem;
}

/* -------------------------------------------------- */
.font_style {
  font-family: var(--font-family);
  color: var(--word-color);
  padding: 20px;
}

.contact_input {
  padding-top: 2.5vmin;
  text-align: center;
}

.contact_input input {
  background-color: var(--main-color);
  padding: 1.3vmin;
  border-radius: 5px;
  border: none;
  border-style: hidden;
  color: white;
  transition-duration: 0.2s;
}

.contact_input input:hover {
  background-color: var(--hover-color);
  color: white;
  box-shadow: 0 0 10px 0 rgb(94, 94, 94);
}

/* subpage_topic*/
.subpage_topic {
  background-color: var(--main-color);
  height: 5rem;
  width: 100%;
  margin-bottom: 30px;
  font-family: var(--font-family);
}

.subpage_topic .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subpage_topic h2 {
  line-height: 5rem;
  margin: 0;
  color: white;
}

.subpage_topic .breadcrumbs {
  line-height: 5rem;
  margin: 0;
  color: white;
}

.subpage_topic .breadcrumbs a {
  color: #E2E2E2;
  text-decoration: none;
}

.subpage_topic .breadcrumbs a:hover {
  color: white;
}

/* container */
.about .container,
.member .container {
  margin-bottom: 5vmin;
}

.research_field .container {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
}

.research_field .reverse {
  flex-direction: row-reverse;
}

.research_field .container p {
  padding: 0 20px;
}

.fourthpart_title {
  font-size: 1.5rem;
}

.research_field_li {
  margin: 0 0 0 20%;
}

#p_center {
  width: fit-content;
}

.research_member {
  background-color: var(--member-color);
}

.research_member_about p {
  text-indent: 0;
}

.research_member_about {
  width: 80%;
  margin: auto;
}

.research_member_about dl,
.strategy_dl dl {
  text-align: justify;
  padding: 0 20px;
}

.strategy_dl dl {
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

/* subpage_topic img */
.topic_img {
  width: 100%;
  border-radius: 4px;
  display: block;
  margin: auto;
}

.picture_card {
  background-color: white;
  width: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  align-self: flex-start;
}

.picture_card img {
  width: 98%;
}

.picture_card_full {
  display: block;
  margin: auto;
  max-width: 600px;
}

.research_member .picture_card {
  width: 30%;
  box-shadow: none;
  background-color: inherit;
  align-self: center;
}

.research_member img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
}

.picture_card .card_content p,
.member_card .member_content p {
  text-align: center;
  text-indent: 0;
  padding: 20px;
  width: 100%;
}

.member_card {
  padding: 2rem;
}

.member_card img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.guest {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* ------------------------------------------- */
.card_img {
  cursor: pointer;
  transition: 0.3s;
}

.card_img:hover {
  opacity: 0.7;
}

.modal_card {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.close_card_btn {
  position: absolute;
  right: 15%;
  top: 20px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.close_card_btn:hover,
.close_card_btn:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.modal_content {
  margin: auto;
  display: block;
  width: 90%;
  font-family: var(--font-family);
  max-width: 1000px;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 1.5rem;
}

.modal_img {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 800px;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* -------------------------------------------- */
/* pictures */
.about img {
  margin: 30px 0;
  border-radius: 4px;
  width: 100%;
  max-width: 800px;
}

.nthu_map iframe {
  border: none;
}

.target_list {
  text-align: left;
  display: table;
  width: 80%;
  margin: 0 auto;
  list-style-position: inside;
}

/* plan */
.plan table {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.plan table, .plan th, .plan td {
  border: 1px black solid;
  height: 50px;
  text-align: center;
}

#plan_title {
  text-align: center;
  padding: 10px;
}

/* strategy */
.strategy_area label {
  background-color: var(--second-color);
  border: solid white 1px;
  border-radius: 20px;
  margin: 0;
  margin-top: 10px;
  width: 80%;
  text-align: left;
  color: white;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.strategy_number {
  flex-grow: 1;
}

.strategy_icon {
  margin-right: 2%;
}

.strategy_area .strategy_content {
  text-align: justify;
  height: 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.strategy_area .strategy_content p {
  padding: 5px 0;
  text-indent: 0px;
}

.strategy_area input[type=checkbox]:checked+.strategy_content {
  background-color: var(--colorful-background);
  height: 100%;
  margin-bottom: 20px;
}

.strategy_area input[type=checkbox] {
  display: none;
}

.color_background {
  background-color: var(--text-bg-color);
  padding: 10px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.source_member_btn {
  display: inline;
}

.source_member_btn button {
  background-color: var(--main-color);
  padding: 1px 5px;
  border-radius: 2px;
  border: none;
  border-style: hidden;
  color: white;
  transition-duration: 0.2s;
  font-size: 0.8rem;
}

.source_member_btn button:hover {
  background-color: var(--hover-color);
  color: white;
  box-shadow: 0 0 5px 0 rgb(94, 94, 94);
}

/* contact */
.contact {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  font-family: var(--font-family);
  color: var(--word-color);
}

.contact h2 {
  margin-bottom: 5vmin;
}

.input_group {
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between
}

.input_group label {
  margin: 0;
  width: 18%;
  text-align: left;
}

.input_group input, textarea {
  width: 80%;
  border-radius: 3px;
  padding-left: 10px;
  background-color: rgb(228, 228, 228);
  border: rgb(209, 209, 209) inset 1px;
}

textarea {
  min-height: 100px;
}

/* news table */
.news_area {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--word-color);
}

.news_area table {
  width: 100%;
}

#news_title {
  text-align: center;
}

.news_area table th {
  background-color: var(--second-color);
  color: white;
  vertical-align: middle;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.news_area table td {
  cursor: pointer;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.news_area table tr:hover {
  background-color: #dee2e6;
}

/* footer------------------------------------------------- */
.back_to_top {
  font-size: 3rem;
  color: var(--footer-color);
  position: fixed;
  bottom: 60px;
  right: 10%;
}

.back_to_top:hover {
  color: #676767;
  cursor: pointer;
}

.footer {
  background-color: #383838;
  padding: 20px;
  color: var(--footer-color);
  font-size: 0.8rem;
  line-height: 30px;
  text-align: left;
}

.footer_parts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_member,
.footer_news,
.footer_map {
  flex-grow: 1;
}

.footer_map a {
  display: flex;
  flex-direction: column;
  color: var(--footer-color);
  border-bottom: dotted #696767 1px;
  width: 100%;
}

.footer_map a:hover {
  text-decoration: none;
  color: white;
}

.footer_news a {
  color: var(--footer-color);
}

.footer_news a:hover {
  text-decoration: none;
  color: white;
}

.footer_news p {
  padding-left: 20px;
  margin-bottom: 5px;
}

.footer_bottom {
  background-color: #333;
  text-align: center;
  color: rgb(102, 102, 102);
  padding: 10px;
  font-size: 0.8rem;
}

/* media */
@media screen and (max-width: 1000px) {
  .footer_map {
    display: none;
  }

  .header .navbar_open_btn {
    display: block;
  }

  .header .navbar_close_btn {
    display: block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.4s;
  }

  .header .navbar_close_btn:hover {
    color: var(--main-color);
  }

  .header .navbar .navigation_bar {
    background-color: rgba(66, 70, 75, 0.95);
    height: 100vh;
    width: 100%;
    font-size: 0.9em;
    padding: 20% 0;
    position: fixed;
    top: 0;
    right: -100%;
    overflow: auto;
  }

  .header .navbar a {
    margin: 0;
    color: rgb(255, 255, 255);
  }

  .header .navbar .navigation {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .header .navbar a:hover:not(.active_page) {
    text-decoration: none;
    color: var(--main-color);
  }

  .header .navbar span.active_page {
    background-color: var(--main-color);
    padding: 3px 5px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
  }

  #rwdbtn:checked~.navigation_bar {
    right: 0;
  }

  .subnav {
    float: left;
  }

  .subnav .subnav_btn {
    border: none;
    background-color: inherit;
    border-radius: 4px;
    padding-top: 7px;
  }

  .subnav .subnav_content {
    display: none;
    position: static;
    background-color: white;
    z-index: 1;
    width: 100%;
    text-align: left;
    border-radius: 4px;
  }

  .subnav .subnav_content a {
    color: var(--word-color);
  }
}

@media screen and (max-width: 800px) {
  .footer_news, .footer_map, .facebook, .google {
    display: none;
  }

  .footer_member {
    margin: auto;
    flex-grow: 0;
  }

  html, body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.4rem;
  }

  .strategy_area label {
    font-size: 0.8rem;
  }

  .about .title {
    font-size: 1.3rem;
  }

  /* part RWD ------------------------------------------*/
  .research_field .container {
    flex-direction: column;
  }

  .research_member .picture_card, .picture_card {
    width: 80%;
    margin: auto;
  }

  .research_field .container p {
    padding: 0;
    padding-bottom: 10px;
  }

  .research_field .card_content p {
    padding: 10px;
  }

  .research_field .container {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .subpage_topic {
    font-size: 0.6rem;
  }

  .top_nav .container {
    font-size: 8px;
  }

  .mail_us {
    padding-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .subpage_topic h2 {
    font-size: 1.1rem;
  }
}

#newsSection div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 240px;
}
