* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* container */
.container {
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --main-color: #279FBB;
  --word-color: rgb(86, 94, 98);
  --footer-color: #C9C9C9;
  --font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

/* top_nav */
.top_nav {
  height: 36px;
  background-color: #FBFBFB;
  border-bottom: solid 1px rgba(210, 209, 209, 0.36);
}

.top_nav .container {
  display: flex;
  justify-content: space-between;
}

.top_nav_left, .top_nav_right {
  display: flex;
  align-items: center;
}

.call_us, .mail_us {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
}

.top_nav .top_nav_left span {
  padding-left: 10px;
}

.top_nav .top_nav_left i {
  font-size: 22px;
}

.mail_us {
  padding-left: 30px;
}

.facebook, .google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35.5px;
}

.top_nav .top_nav_right a {
  padding: 0 10px;
  color: #969696;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.facebook a:hover {
  background-color: rgb(21, 88, 214);
  color: white;
}

.google a:hover {
  background-color: rgb(215, 77, 0);
  color: white;
}

/* header */
.header {
  height: 90px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .navbar {
  text-transform: capitalize;
  padding: 0;
}

.header .navbar .innavbar {
  margin: 0;
}

.header .navbar a {
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  transition: color 0.2s;
}

.header .navbar a .en {
  color: #bcbcbc;
  font-family: var(--font-family);
}

.header .navbar a:hover:not(.activepage) {
  text-decoration: none;
  color: var(--main-color);
}

.header .navbar span {
  padding: 3px 5px;
  border-radius: 10px;
}

.header .navbar span.activepage {
  background-color: var(--main-color);
  color: white;
}

.header #rwdbtn {
  visibility: hidden;
}

.header .open_btn {
  font-size: 20px;
  margin: 0;
  color: black;
  display: none;
}

.open_btn:hover {
  color: var(--word-color);
  transition: 0.4s;
  cursor: pointer;
}

.header .close_btn {
  font-size: 20px;
  margin: 0;
  display: none;
}

/* subnav */
.subnav {
  float: left;
}

.subnav .subnavbtn {
  border: none;
  background-color: inherit;
  border-radius: 4px;
}

.subnav .subnav-content {
  display: none;
  position: absolute;
  top: 70px;
  background-color: white;
  z-index: 1;
  width: fit-content;
  text-align: left;
  transition: 0.2s;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.subnav .subnav-content a {
  padding: 10px;
  margin: 0;
  text-align: left;
  color: var(--word-color);
}

.subnav .subnav-content a:hover {
  background-color: #eee;
  border-radius: 4px;
}

.subnav:hover .subnav-content {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------- */
/* content */
.contentbox {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  color: var(--word-color);
}

.contentbox .title {
  padding: 10px;
  margin-top: 15px;
  font-weight: bold;
}

.contentbox p {
  width: 80%;
  margin: auto;
  text-align: justify;
  text-indent: 30px;
}

.contact_input {
  padding-top: 20px;
  text-align: center;
}

.contact_input input {
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border-style: hidden;
  color: white;
  transition-duration: 0.2s;
}

.contact_input input:hover {
  background-color: #2d7687;
  color: white;
  box-shadow: 0 0 10px 0 rgb(94, 94, 94);
}

/* ------------------------------------------------------- */
/* top_title */
.top_title {
  background-color: var(--main-color);
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.top_title .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top_title h2 {
  line-height: 100px;
  margin: 0;
  color: white;
}

.top_title .top_title_right {
  line-height: 100px;
  margin: 0;
  color: white;
}

.top_title .top_title_right a {
  color: #E2E2E2;
  text-decoration: none;
}

.top_title .top_title_right a:hover {
  color: white;
}

/* container */
.about .container,
.member .container {
  margin-bottom: 50px;
}

.part .container {
  display: flex;
  flex-direction: row;
  padding: 20px 5px;
}

.part .reverse {
  flex-direction: row-reverse;
}

.part .container p {
  padding: 0 20px;
}

.part2_1 {
  background-color: rgba(0, 0, 0, 0.04);
}

/* firstpart img */
.part1_img {
  background-color: white;
  width: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.part1_img img {
  width: 98%;
}

.part2_1 .part1_img {
  width: 30%;
  box-shadow: none;
  background-color: inherit;
}

.part2_1 img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.part1_img .img_p p,
.member_pic .img_p p {
  text-align: center;
  text-indent: 0;
  padding: 20px;
  font-size: 18px;
  width: 100%;
}

.member .other {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.member img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.member_pic {
  padding: 1rem;
}

/* pictures */
.about img {
  width: 100%;
  height: auto;
  padding: 30px 0;
}

.nthumap iframe {
  border: none;
}

.not_real {
  text-decoration: line-through;
  color: rgb(200, 200, 200);
}

/* id=target */
/* #target ,#plan{
  background-color: rgba(0,0,0,0.04);
} */
.target_list {
  text-align: left;
  display: table;
  width: 80%;
  margin: 0 auto;
  padding-left: 55px;
}

/* plan */
.plan table {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.plan table, .plan th, .plan td {
  border: 1px black solid;
  height: 50px;
  text-align: center;
}

#table_p {
  text-align: center;
  padding: 10px;
}

/* strategy */
.tabs label {
  background-color: var(--word-color);
  border: solid white 1px;
  border-radius: 20px;
  margin: 0;
  margin-top: 10px;
  width: 80%;
  text-align: left;
  color: white;
  padding: 5px;
  padding-left: 20px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.tabs .content {
  text-align: justify;
  height: 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.tabs .content p {
  padding: 5px 0;
  text-indent: 0px;
}

.tabs input[type=checkbox]:checked+.content {
  background-color: rgba(222, 217, 217, 0.85);
  height: 100%;
  margin-bottom: 20px;
}

.tabs input[type=checkbox] {
  display: none;
}

/* contact */
.contactus {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  color: var(--word-color);
}

.contactus h4 {
  margin-bottom: 50px;
}

.inputgroup {
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.inputgroup label {
  margin: 0;
}

.inputgroup input, textarea {
  width: 80%;
  border-radius: 3px;
  background-color: rgb(228, 228, 228);
  border: rgb(209, 209, 209) inset 1px;
}

textarea {
  min-height: 100px;
}

/* member table */
.member table, .member td, .member th {
  background-color: rgb(227, 230, 141);
  border: solid black 1px;
}

/* news+activity table */
.table {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
  color: var(--word-color);
}

.table table {
  width: 100%;
}

.table table #mid {
  text-align: center;
}

.table table th {
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
}

.table table td {
  cursor: pointer;
  font-family: 'Noto Sans TC', sans-serif;
}

.table table tr:hover {
  background-color: rgb(222, 222, 222);
}

/* footer------------------------------------------------- */
.footer {
  background-color: #383838;
  padding: 20px;
  color: var(--footer-color);
  font-size: 13px;
  line-height: 30px;
  text-align: left;
}

.footercontent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_right a {
  display: flex;
  flex-direction: column;
  color: var(--footer-color);
  border-bottom: dotted var(--footer-color) 1px;
  width: 100%;
}

.footer_right a:hover {
  text-decoration: none;
  color: white;
}

.footer_mid a {
  color: var(--footer-color);
}

.footer_mid a:hover {
  text-decoration: none;
  color: white;
}

.footer_mid p {
  padding-left: 20px;
  margin-bottom: 5px;
}

.lastfooter {
  background-color: #333;
  text-align: center;
  color: rgb(102, 102, 102);
  padding: 10px;
  font-size: 13px;
}

/* media */
@media screen and (max-width: 1000px) {
  .footer_right {
    display: none;
  }

  .header .open_btn {
    display: block;
  }

  .header .close_btn {
    display: block;
  }

  .header .navbar .innavbar {
    background-color: rgba(66, 70, 75);
    height: 100vh;
    width: 15%;
    font-size: 0.9em;
    padding: 20% 0;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.4s;
  }

  .header .navbar a {
    width: 100%;
    padding: 15px;
    color: rgb(255, 255, 255);
  }

  .header .navbar a:hover:not(.activepage) {
    text-decoration: none;
    color: var(--main-color);
  }

  .header .navbar span.activepage {
    background-color: var(--main-color);
    padding: 3px 5px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
  }

  .close_btn {
    position: absolute;
    top: 65px;
    right: 43%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.4s;
  }

  .close_btn:hover {
    color: #dadfe0;
  }

  #rwdbtn:checked~.innavbar {
    right: 0;
  }
}

@media screen and (max-width: 800px) {
  .footer_mid, .footer_right, .facebook, .google {
    display: none;
  }
/* part RWD ------------------------------------------*/
  .part .container {
      flex-direction: column;
    }

  .part2_1 .part1_img, .part1_img {
    width: 80%;
    margin: auto;
  }

  .part .container p {
    padding: 0;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .top_nav .container {
    font-size: 8px;
  }
  .mail_us {
    padding-left: 10px;
}
}
